<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div id="homeDiv">
        <h2>This is a sample application to demonstrate the use of Areas in ASP.NET MVC 4.</h2>
        <br />
        <h3>Areas are logical grouping of Controller, Models and Views and other related folders for a module in an MVC application. 
            By convention, a top level Areas folder can contain multiple sub areas. 
            Using areas we can write more maintainable code for an application cleanly separated according to the modules. 
        </h3>
    </div>
</body>
</html>
